@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-fundo: #f5f5f5;
    --cor-titulo: #000;
    --cor-principal: #818181;
    --cor-secundaria: #383838;
    --cor-btn-principal: #3193EE;
    --cor-btn-secundaria: #026FD4
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
}

header {
    background-image: url(./assets/img/faixa.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 80px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 430px;
    min-height: 820px;
    background-color: var(--cor-fundo);
}

main {
    padding: 1.7rem;
}

h1 {
    position: static;
    color: #000;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 700;
}

label {
    display: block;
    color: var(--cor-principal);
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 600;
    margin-top: 0.625rem;
}

select,
input {
    width: 100%;
    height: 40px;
    margin-bottom: 0.625rem;
    padding-left: 0.8rem;
    background-color: #fff;
    box-shadow: 0 10px 15px rgba(5, 13, 29, 0.18);
    border: 2px solid #818181;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    color: #474747;
    font-family: Poppins;
    font-size: 0.9rem;
    font-weight: 600;
}

select {
    appearance: none;
}

input {
    cursor: text;
}

button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    background-color: var(--cor-btn-principal);
    box-shadow: 0 8px 0 var(--cor-btn-secundaria);
    border: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
    margin: 1.2rem 0;
    transition: opacity 0.2s ease, 
    transform 0.1s ease;
}

button:hover {
    opacity: 0.8;
}

button:active {
    transform: translateY(2px);
    opacity: 0.6;
}

.container-bandeiras {
    text-align: center;
}

.container-bandeiras .texto-moeda {
    color: #818181;
    font-family: Poppins;
    font-size: 1rem;
    font-weight: 600;
}

.container-bandeiras .texto-preco {
    color: #3193EE;
    font-family: Poppins;
    font-size: 1.125rem;
    font-weight: 600;
}

section #seta {
    display: block;
    margin: 19px auto;
}